body {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-top: 1px solid black;
}

.header {
  background-color: gray;
}

.cell {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

.name {
  width: 250px;
}

.day {
  width: 58px;
}

.time {
  width: 75px;
  margin-right: 40px;
}

.audience {
  width: 170px;
}

.location {
  width: 200px;
}