body {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}


.picture-header {
  padding-left: 20px;
  padding-top: 20px;
  height: 200px;
  color: white;
  background-image: url("https://c1.staticflickr.com/4/3270/2562658408_52b8d245f3_b.jpg");
  position: relative;
  background-size: cover;
}

.photo-attribution {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.photo-attribution a {
  font-size: 9px;
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.table {
  margin: auto;
  width: 89%
}


.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-top: 1px solid #3B8686;
}

.header {
  background-color: #CFF09E;
  border-top: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.cell {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

.filter-header {
  height: 65px;
  padding: 30px 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.filter {
  display: inline-block;
  margin: auto;
}

.filter-title {
  margin-bottom: 5px;
}

.clear-button {
  margin-top:20px;
  padding: 10px;
  border-radius: 5px;
  color: green;
  background-color: #A8DBA8;
  cursor: pointer;
}